<%= provide(:title, "Shop Pages") %>
   <%= render 'layouts/header1' %>           

            <div style="margin-left:20px; padding-bottom:200px; margin-right:50px;">
                <div style="width:300px;float: left">
                    <form action="" style="padding-top:20px;" >
                        <%= text_field_tag 'queryName', 'Search products...' %>
                        <input type="submit" value="Search">
                    </form>
                    <form action="" style="padding-top:20px;" >
                        <select>
                            <option disabled selected>sort...</option>
                            <option value="a-z">A-Z</option>
                            <option value="price">Price</option>
                        </select>
                        <input type="submit" value="Sort by">
                    </form>
                </div>
                <div style="float:right;list-style-type:none;padding-top:20px">
                    <form>
                        <div style="width:200px;float:right;padding-left:20px">
                            <h3 style="color:#5a88ca">Price</h3>
                            <input type="radio" name="price" value="low">
                            <label>0-1000$</label></br>
                            <input type="radio" name="price" value="medium">
                            <label>1000-2000$</label></br>
                            <input type="radio" name="price" value="high">
                            <label>2000-3000$</label></br>
                        </div>
                        <div style="width:200px;float:right;padding-left:20px">
                            <h3 style="color:#5a88ca">Rating</h3>
                            <input type="radio" name="rate" value="1">
                            <label>
                                <span class="fa fa-star"></span>
                            </label></br>
                            <input type="radio" name="rate" value="2">
                            <label>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </label></br>
                            <input type="radio" name="rate" value="3">
                            <label>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </label></br>
                        </div>
                        <div style="width:200px;float:right;padding-left:20px">
                            <h3 style="color:#5a88ca">Brand</h3>
                            <input type="radio" name="brand" value="dell">
                            <label>Dell</label></br>
                            <input type="radio" name="brand" value="asus">
                            <label>MSI</label></br>
                            <input type="radio" name="brand" value="msi">               
                            <label>Asus</label></br>
                            <input type="radio" name="brand" value="apple">
                            <label>Apple</label></br>
                        </div>
                        <div style="width:200px;float:right;padding-left:20px;padding-bottom:20px;">
                            <h3 style="color:#5a88ca">Categories</h3>
                            <input type="radio" name="cate" value="laptop">
                            <label>Laptop</label></br>  
                            <input type="radio" name="cate" value="desktop">
                            <label>Desktop</label></br>
                            <input type="radio" name="cate" value="tablet">             
                            <label>Tablet</label></br>
                            <input type="radio" name="cate" value="phone">
                            <label>Phone</label></br>
                        </div>
                        <div style="padding-left:320px;">
                            <input type="submit" value="Filter">
                        </div>
                    </form>
                </div>
            </div>  
            <%= render 'productView' %>
