    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href="/cart"><i class="fa fa-user"></i> My Cart</a></li>
                            <li><a href="/checkouts"><i class="fa fa-user"></i> Checkout</a></li>
                            <li><a href="/sigin"><i class="fa fa-user"></i> SignIn</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
    
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="/"><img src="../img/logo.png"></a></h1>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="/carts">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
    
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/shop">Shop page</a></li>
                        <li><a href="/product">Single product</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/Checkouts">Checkout</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Others</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
	<!-- End mainmenu area -->
	
	<div class="container">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img id="imgLeftProfileMemberAvatar" src="apple.png" class="img-responsive" alt="">
					</div>
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							Chau Quan
						</div>
					</div>

					<div class="profile-usermenu">
						<ul class="nav">
							<li id="proInfo">
								<a href="../profile/profile.html">
									<i class="fa fa-pencil-square-o "></i>
									Profile
								</a>
							</li>
							<li id="proChangePass">
								<a href="../update/update.html">
									<i class="fa fa-user"></i>
									Edit
								</a>
							</li>
							<li id="proChangePass" >
								<a href="../admin-product/admin-product.html">
									<i class="fa fa-user"></i>
									Product Management
								</a>
							</li>
							<li id="proChangePass" class="active">
								<a href="../admin-user/admin-user.html">
									<i class="fa fa-user"></i>
									User Management
								</a>
							</li>
							<li id="proChangePass">
								<a href="../changepassword/changepassword.html">
									<i class="fa fa-user" ></i>
									Change Password
								</a>
							</li>
							<li>
								<a href="https://id.foody.vn/dang-xuat">
									<i class="fa fa-sign-out"></i>
									Sign out
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
											<th class="product-thumbnail">ID</th>
                                            <th class="product-thumbnail">Avatar</th>
                                            <th class="product-name">Username</th>
                                            <th class="product-name">Email</th>
                                            <th class="product-name">Phone</th>
                                            <th class="product-name">City</th>								
                                            <th class="product-name">Birthday</th>
                                            <th class="product-name">Create</th>											
											<th class="product-remove">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									
                                        <tr class="cart_item">				
											<td class="product-name">
                                                <a href="../single-product.html">10245</a> 
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="../single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="../img/apple.png"></a>
                                            </td>

                                            <td class="product-name">
                                                <a href="../single-product.html">Chau Quan</a> 
                                            </td>
											
											<td class="product-name">
                                                <a href="../single-product.html">Email</a> 
                                            </td>
											
											<td class="product-name">
                                                <a href="../single-product.html">0937114538</a> 
                                            </td>
											
											<td class="product-name">
                                                <a href="../single-product.html">Da Nang</a> 
                                            </td>
											
											<td class="product-name">
                                                <a href="../single-product.html">29/08/1997</a> 
                                            </td>
											
											<td class="product-name">
                                                <a href="../single-product.html">15/5/2017</a> 
                                            </td>
																					
                                            <td class="product-remove">
                                                <a title="Remove this user" class="remove" href="#">X</a> 
                                            </td>
                                        </tr>
										
                                    </tbody>
                                </table>
                            </form>
							
			</div>
		</div>
	</div>